@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sour Gummy', cursive;
}
:root{
    --color-main: #FEFEFE75;
    --color-second: #3983d6;
    /* --color-third: #36d42b; */
    --color-third: #13ca91;
    --color-text: #000000;
    --color-text1: #fefefe;
    --color-default: #c2c2c2;
}
body{
    background-color: #f2f2f2;
    overflow: hidden;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* sign-up form */
.container_form_sign-up{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-up_form{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--color-second);
    background-color: var(--color-main);
    /* animation: ripple 1.5s infinite ease-in-out; */
}
.sign-up_title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--color-text1);
    /* text-shadow: 0 0 5px #156dd2, 0 0 20px var(--color-second); */
    animation: textbox 1.5s infinite ease-in-out;
}
.container_input{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 60%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border: 2px solid var(--color-text);
    border-radius: 10px;
    outline: none;
    overflow: hidden;
}
.place{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text);
    font-size: 16px;
    pointer-events: none;
    transition: .4s;
    background-color: var(--color-text1);
    /* background-image: linear-gradient(to bottom, , var(--color-text1)); */
    padding: 0 10px;
}   
.input:focus ~ .place,
.input:valid ~ .place{
    top: 0;
    border: 2px solid var(--color-text);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.sign-up_btn{
    width: 200px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid var(--color-text);
}
.sign-up_btn:hover{ 
    box-shadow: 0 0 15px var(--color-second);
}
.sign-up{
    margin-top: -4%;
}
#sign-in{
    color: var(--color-text1);
    cursor: pointer;
    border: none;
    font-size: large;
    font-weight: bold;
    background-color: transparent; 
    animation: textbox 1.5s infinite ease-in-out;
}
#sign-in:hover{
    color: red;
    text-decoration: underline;
}

/* sign-in form */
.container_form_sign-in{
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-in_form{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: var(--color-main);
    box-shadow: 0 0 20px var(--color-third);
    /* animation: ripple1 1.5s infinite ease-in-out; */
}
.sign-in_title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--color-text1);
    /* text-shadow: 0 0 5px #1eea10, 0 0 20px var(--color-third); */
    animation: textbox1 1.5s infinite ease-in-out;
}
.sign-in_btn{
    width: 200px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid var(--color-text);
}
.sign-in_btn:hover{ 
    box-shadow: 0 0 15px var(--color-third);
}
.sign-in_more{
    margin-top: -7%;
    text-align: center;
}
.forgot_pass{
    color: var(--color-text1);
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 5px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    animation: textbox1 1.5s infinite ease-in-out;
}
.forgot_pass:hover{
    color: red;
    text-decoration: underline;
}
#sign-up{
    color: var(--color-text1);
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    animation: textbox1 1.5s infinite ease-in-out;
}
#sign-up:hover{
    color: red;
    text-decoration: underline;
}
#sign-in_btn{
    color: var(--color-third);
    cursor: pointer;
    border: none;
    background-color: var(--color-main);
    padding: 5px;
    background-color: var(--color-default);
}

/* forgot password form */
.container_form_forgot-pass{
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forgot-pass_form{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--color-third);
    background-color: var(--color-main);
    /* animation: ripple1 1.5s infinite ease-in-out; */
    box-shadow: 0 0 20px var(--color-third);
}
.forgot-pass_title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--color-text1);
    /* text-shadow: 0 0 5px #1eea10, 0 0 20px var(--color-third); */
    animation: textbox1 1.5s infinite ease-in-out;
}
.forgot-pass_btn{
    width: 200px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid var(--color-text);
}
.forgot-pass_btn:hover{ 
    box-shadow: 0 0 15px var(--color-third);
}
#sign-in-forgot{
    color: var(--color-text1);
    cursor: pointer;
    border: none;
    background-color: transparent;  
    font-size: large;
    font-weight: bold;
    animation: textbox1 1.5s infinite ease-in-out;
}
#sign-in-forgot:hover{
    color: red;
    text-decoration: underline;
}
.forgot{
    margin-top: -4%;
}

/* effect */
@keyframes ripple {
    0% {
        box-shadow: 0 0 20px var(--color-second);
    }
    50% {
        box-shadow: 0 0 35px var(--color-second);
    }
    100% {
        box-shadow: 0 0 20px var(--color-second);
    }
}

@keyframes ripple1 {
    0% {
        box-shadow: 0 0 20px var(--color-third);
    }
    50% {
        box-shadow: 0 0 35px var(--color-third);
    }
    100% {
        box-shadow: 0 0 20px var(--color-third);
    }
}

@keyframes textbox {
    0% {
        text-shadow: 0 0 10px #156dd2, 0 0 10px var(--color-second);
    }
    50% {
        text-shadow: 0 0 10px #156dd2, 0 0 20px var(--color-second);
    }
    100% {
        text-shadow: 0 0 10px #156dd2, 0 0 10px var(--color-second);
    }
}

@keyframes textbox1 {
    0% {
        text-shadow: 0 0 10px #00e59c, 0 0 10px var(--color-third);
    }
    50% {
        text-shadow: 0 0 10px #00e59c, 0 0 20px var(--color-third);
    }
    100% {
        text-shadow: 0 0 10px #00e59c, 0 0 10px var(--color-third);
    }
}

@keyframes move{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        align-items: translateY(0);
    }
}

/* Responsive */
@media screen and (max-width: 1300px){
    .sign-in_more{
        margin-top: -7%;
    }
    .forgot{
        margin-top: -9%;
    }
}
@media screen and (max-width: 1100px){
    .sign-up{
        margin-top: -6%;
    }
    .sign-in_more{
        margin-top: -10%;
    }
    .forgot{
        margin-top: -9%;
    }
}
@media screen and (max-width: 1024px){
    .sign-up_form{
        width: 90%;
    }
    .sign-up_title{
        font-size: 30px;
    }
    .input{
        width: 80%;
    }
    .sign-up_btn{
        width: 150px;
        height: 30px;
        font-size: 18px;
    }
    .sign-up{
        margin-top: -5%;
    }
    .sign-in_form{
        width: 90%;
    }
    .sign-in_title{
        font-size: 30px;
    }
    .sign-in_btn{
        width: 150px;
        height: 30px;
        font-size: 18px;
    }
    .sign-in_more{
        margin-top: -10%;
    }
    .forgot_pass{
        font-size: 16px;
    }
    .forgot{
        margin-top: -5%;
    }
    .forgot-pass_form{
        width: 90%;
    }
    .forgot-pass_title{
        font-size: 30px;
    }
    .forgot-pass_btn{
        width: 150px;
        height: 30px;
        font-size: 18px;
    }
    
}
@media screen and (max-width: 900px){
    .sign-up{
        margin-top: -6%;
    }
    .sign-in_more{
        margin-top: -11%;
    }
    .forgot{
        margin-top: -9%;
    }
}
@media screen and (max-width: 768px){
    .sign-up_form{
        width: 90%;
    }
    .sign-up_title{
        font-size: 30px;
    }
    .input{
        width: 80%;
    }
    .sign-up_btn{
        width: 150px;
        height: 30px;
        font-size: 18px;
    }
    .sign-up{
        margin-top: -8%;
    }
    .sign-in_form{
        width: 90%;
    }
    .sign-in_title{
        font-size: 30px;
    }
    .sign-in_btn{
        width: 150px;
        height: 30px;
        font-size: 18px;
    }
    .sign-in_more{
        margin-top: -14%;
    }
    .forgot_pass{
        font-size: 16px;
    }
    .forgot{
        margin-top: -10%;
    }
    .forgot-pass_form{
        width: 90%;
    }
    .forgot-pass_title{
        font-size: 30px;
    }
    .forgot-pass_btn{
        width: 150px;
        height: 30px;
        font-size: 18px;
    }
}
@media screen and (max-width: 600px){
    .sign-up{
        margin-top: -8%;
    }
    .sign-in_more{
        margin-top: -15%;
    }
    .forgot{
        margin-top: -11%;
    }
}
@media screen and (max-width: 480px){
    .sign-up_form{
        width: 90%;
    }
    .sign-up_title{
        font-size: 30px;
    }
    .input{
        width: 80%;
    }
    .sign-up_btn{
        width: 150px;
        height: 30px;
        font-size: 18px;
    }
    .sign-up{
        margin-top: -11%;
    }
    .sign-in_form{
        width: 90%;
    }
    .sign-in_title{
        font-size: 30px;
    }
    .sign-in_btn{
        width: 150px;
        height: 30px;
        font-size: 18px;
    }
    .sign-in_more{
        margin-top: -20%;
    }
    .forgot_pass{
        font-size: 16px;
    }
    .forgot{
        margin-top: -12%;
    }
    .forgot-pass_form{
        width: 90%;
    }
    .forgot-pass_title{
        font-size: 30px;
    }
    .forgot-pass_btn{
        width: 150px;
        height: 30px;
        font-size: 18px;
    }
    .sign-up_btn{
        width: 80%;
    }
    .sign-in_btn{
        width: 80%;
    }
    .forgot-pass_btn{
        width: 80%;
    }
}
@media screen and (max-width: 375px){
    .sign-up{
        margin-top: -12%;
    }
    .sign-in_more{
        margin-top: -25%;
    }
    .forgot{
        margin-top: -15%;
    }
    .sign-up_btn{
        width: 80%;
    }
    .sign-in_btn{
        width: 80%;
    }
    .forgot-pass_btn{
        width: 80%;
    }
}
